# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/
serviceAccount.json
dist
# Node.js dependency directory
node_modules/
firebaseEnv.json
lib

.runtimeconfig.json

# LOG FILES

*.log
